:root {
	// COLORS

	// Priamry
	--color-primary-red: #ea5353;
	--color-primary-cyna: #45d3d3;
	--color-primary-orange: #fcaf4a;
	--color-primary-blue: #549ef2;

	// Gray
	--color-gray-dark: #4c4e61;
	--color-gray: #a3a5ae;
	--color-gray-light: #fafafa;

	//Font Family
	--font-primary: 'Poppins', sans-serif;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}
body,
body *,
body *::after,
body *::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--font-primary);
	font-size: 1.5rem;

	background-color: var(--color-gray-light);
	padding: 8.5rem 3.2rem;
}

.section {
	display: grid;
	width: 100%;
	max-width: 800px;

	.header {
		text-align: center;
		&__subheading {
			font-size: 2.4rem;
			font-weight: 200;
			letter-spacing: 0.17px;
			color: var(--color-gray-dark);
		}

		&__heading {
			font-size: 2.4rem;
			font-weight: 600;
			letter-spacing: 0.17px;
			color: var(--color-gray-dark);
			margin-bottom: 0.666em;
		}

		&__description {
			font-weight: 400;
			line-height: 1.67;
			color: var(--color-gray);
			margin-bottom: 5.066em;
		}
	}

	.features-list {
		list-style: none;
		display: grid;
		grid-row-gap: 2.5rem;

		.card {
			background-color: #fff;
			// box-shadow: 0 3rem 1.5rem rgba(#0a7fe5a3, 0.2);
			border-radius: 1rem;

			padding: 2.8rem;
		}
	}
}
